<footer class="footer">
    <div class="container-fluid d-flex justify-content-between">
        <span class="text-muted d-block text-center text-sm-start d-sm-inline-block">
            © @DateTime.Now.Year YuchisoftBlog. All Rights Reserved | Design by
            <a href="http://instagram.com/ahmettkuurt/" target="_blank">Ahmet KURT</a>
        </span>
    </div>
</footer>