
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Test</h1>
<table>
    <tr>
        <td>ID</td>
        <td>AD</td>
        <td>Departman</td>
    </tr>
    <tr>
        <td>1</td>
        <td>ahmet</td>
        <td>yazılım</td>
        
    </tr>
    <tr>
        <td>2</td>
        <td>ayşe</td>
        <td>analist</td>
    </tr>


</table>
